.collection-item {
  display: flex;
  min-width: 23%;
  min-height: 330px;
  flex-direction: column;
  transition: all 0.2s;

  &__image {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    .custom-button {
      position: absolute;
      margin-top: -50px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
      background-color: rgba(0, 0, 0, 0.4);

      &:hover {
        background-color: rgba(#fff, 0.4);
        border: 1px solid transparent;
      }
    }
  }

  &:hover .custom-button {
    display: inline-block;
  }
}
