.collection-item {
  display: flex;
  width: 23%;
  height: 330px;
  flex-direction: column;

  &__image {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
